.bug-cont {
  margin: 0;
}

/* filter panel */
.filter-panel {
  display: block;
  margin-left: 1rem;
}

.filters {
  display: inline;
  transition: all 0.5s;
}

.filters::before {
  content: "Filters:";
  color: black;
  background-color: white;
}

.filt-btn {
  position: inherit;
  display: inline;
  width: max-content;
  height: max-content;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: normal;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.filt-btn:hover {
  background-color: bisque;
}

.filt-btn.on {
  background-color: burlywood;
  font-weight: bold;
}

/* bug cards */
.bug-card {
  display: inline-table;
  opacity: 0.7;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  line-height: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 350px;
  transition: all 1s;
}

.bug-card:hover {
  transform: scale(1.1);
  opacity: 1;
}

.high {
  background-color: red;
}
.mid {
  background-color: orangered;
}
.low {
  background-color: orange;
}

.bug-card.hide {
  display: none;
}

/* action panel buttons */
.edit-panel {
  position: relative;
  width: max-content;
  margin: 5px;
  left: 0;
  top: 0;
}

.panel-btn {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: max-content;
  height: max-content;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel-btn.delete {
  color: red;
}

.panel-btn:hover {
  transform: translateY(-3px);
}
