/* bug cards */
.bug-card {
	display: inline-table;
	opacity: 0.5;
	box-shadow: 2px 2px 2px black;
	text-align: center;
	margin: 1rem;
	padding: 0.25rem;
	min-width: 300px;
	max-height: 50px;
	overflow-y: hidden;
	transition: all 1s;
}

.bug-card:hover {
	transform: scale(1.15);
	opacity: 1;
}

.high {background-color: red}
.mid {background-color: orangered}
.low {background-color: orange}

.bug-card.show {
	position: relative;
	top: 2rem;
	opacity: 1;
	max-height: 100%;
}

.bug-card.hide {display: none}

/* action panel buttons*/

.edit-panel {
	position: relative;
	width: max-content;
	margin: 5px;
	left: 0;
	top: 0;
}

.panel-btn {
  display: inline-block;
	margin: 5px;
  padding: 5px;
	width: max-content;
  height: max-content;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel-btn.delete {color: red}

.panel-btn:hover {
  background-color: beige;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
